

header.header {
    background-color: #fbec5d;
    text-align: center; 
   
    
}

header.header p{
    text-align: center;
    color: black;
    padding: 10px;
    margin-left: 500px;
    width: 100vh;

}

header.header h1{
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 1.4em;
    margin-left: 500px;
  
}

