header.header {
    background-color: #fbec5d;
  
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    align-items: center;
    
}
header.header h1 {
    font-size: 1.4em;
   
}
