/* aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content:center;
    align-items: center;
    
} */

aside.logo img {
    padding: 30px 0px;
    width: 77%;
    align-items: center;
    margin-left: 30px;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}