body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: green;
}


.container {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 80%;
  height: 100vh;
}

.app .sidebar {
  background-color: #070844;
  width: 20%;
  height: 100vh;
}

.container .header {
  
  height: 20vh;
  width: 100%;
}



.container .slider {
  
  height: 80vh;
  width: 100%;
}
