body {
  margin: 0;
  padding: 0;
}



.app{
  position: relative;
}

.app .sidebar {
  position: absolute;
  background-color: #070844;
  width: 20%;
  height: 100vh;
}

.container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80%;
  height: 100vh;
}

 .container .header {
  position: relative;
  height: 20vh;
   width: 100%; 
} 

.container .carousel {
  position: relative;
  background: black;
  height: 80vh;
  width: 100%;
} 


